body{
  background-color: #D6E5FA;
  text-align: center;
}

.plate{
  background-color: white;
  height: 430px;
  width:22%;
  border-radius: 20px;

  position: absolute;
  left: 500px;
  top: 100px;

}

.scan{
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin: 10px auto 20px;
}

h2{
  width: 75%;
  margin: auto;
  font-size: 0.99rem;
  font-family: sans-serif;
}

p{
  margin: 10% 15% 0;
  font-size: 0.8rem;
  font-family: sans-serif;

}
